*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.container-form{
  display: flex;
  width: 500px;
  flex-direction: column;
}

.container-btn{
  display: flex;
  justify-content: space-between;
}

.btn{
  margin-top: 10px;
}

.entrada{
  margin-bottom: 10px;
}